.comparison-container
  p
    | Hér geturðu borið saman mismunandi rafbíla. Borið er saman verð, batterístærð (kWh), drægni (km/hleðsla), afl (hö) og hámarkshraða (km/klst).
  .buttons-container
    .button-random
      button.random-btn.btn.btn-primary(type='button') Handahóf
    .dropdown
      button.btn1.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
        | Veldu módel
        span.caret
      ul.dropdown-menu
        each item in result
          li(class= 'select-model1')
            a= item.manufacturer + ' ' + item.model
    .dropdown
      button.btn2.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
        | Veldu módel
        span.caret
      ul.dropdown-menu
        each item in result
          li(class= 'select-model2')
            a= item.manufacturer + ' ' + item.model
  .comparison-img-container
    .model-img
      img.img.img-model1(src='#', alt='Model 1')
      h3.car-name1.car-name
    .model-img
      img.img.img-model2(src='#', alt='Model 2')
      h3.car-name2.car-name
  input#comparison-result.cb(type='checkbox')
  label(for='comparison-result')
    span.result-button
      span.button
        a(href='#') Niðurstöður
        span#bg
  - var ids = ['price', 'battery', 'range', 'horsepower', 'maxspeed']
  .comparison-processbar-container
    label.comparison-close(for='comparison-result')
      span.mobile-bar.bar-transform.bar-transform11
      span.mobile-bar.bar-transform.bar-transform12
    .progress-container
      h3.c-name.car-name1 Car name
      each val in ids
        div
          span(class=val+'1')
          .myprogress-bar
            div(id=val+'1' class='pbar')
    .progress-container
      h3.c-name.car-name2 Car name
      each val in ids
        div
          .myprogress-bar
            div(id=val+'2' class='pbar')
          span(class=val+'2')
